/* styles go here */
.form-field {
  display: block;
  margin: 5px 0 10px;
}

.form-field1 {
  margin: 6px 0 10px;
}

.form-group {
  margin: 8px 10px 20px;
  padding: 0 12px;
}

body {
  margin: 0;
}

.button {
  margin: 0 8px;
}
